<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>prateepdatagrid</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>dynamicgrid1_7.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Prateep</display-name>
    <servlet-name>Prateep</servlet-name>
    <servlet-class>com.prateep.Prateep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prateep</servlet-name>
    <url-pattern>/Prateep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogLevel</display-name>
    <servlet-name>LogLevel</servlet-name>
    <servlet-class>com.prateep.LogLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogLevel</servlet-name>
    <url-pattern>/LogLevel</url-pattern>
  </servlet-mapping>
</web-app>